@charset "UTF-8";

a {
  text-decoration: none;
}

header {
  background: #388bff;
  position: fixed;/* header scrollしたときの固定 */
  width: 100%;
}

.container {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;/* 要素の高さ中央寄せ */
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo a {
  color: #f2ff7b;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  padding: 30px;
}

nav li a {
  color: #ffffff;
}